body {
    font-family: Arial;
    margin: 20px;

}

.navbar a {
    margin: 10px;
    text-decoration: none;
}

input, select, textarea {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px 15px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}